
.vs/CMake Overview
.vs/cmake.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tp-lab-3/v16/.suo
.vs/tp-lab-3/v16/Browse.VC.db
.vs/tp-lab-3/v16/Browse.VC.opendb
.vs/tp-lab-3/v16/ipch/AutoPCH/109b68af510bc8c/CIRCLE.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/1182d92e3da72c57/MAIN2.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/2c67f6ffc1bbc82f/TESTS.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/57764a8ca1a6f18c/MAIN1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/6534e88245bb9535/MAIN2.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/7df6a9a63e947d73/DATATIME.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/8b6b954ff5e26dde/DATATIME.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/9695fa0d725c1212/TASK1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/a263aeb92b85aa2d/MAIN1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/cb074b00d1a2f862/CIRCLE.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/ce7faead360d4dac/TASK1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/f50c28fc31fa949e/MAIN3.ipch
.vs/VSWorkspaceState.json
CMakeLists.txt
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-bdef8fcca5db4ae49030.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-d3fb9998820ee02b55a5.json
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-cab905b8d8d83d051e14.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task1-Debug-f008c07d94c8a6ee8bc0.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2020-11-22T08-55-43-0185.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task1_lib-Debug-7fe472419378b7396bfe.json
out/build/x64-Debug/.cmake/api/v1/reply/target-task2-Debug-34c8011d28cc54c0af67.json
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
CMakeLists.txt
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.16.19112601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/CMakeFiles/task1.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task1.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task1.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task1.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task1.dir/src/main1.cpp.obj
out/build/x64-Debug/CMakeFiles/task1.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task1_lib.dir/src/Circle.cpp.obj
out/build/x64-Debug/CMakeFiles/task1_lib.dir/src/task1.cpp.obj
out/build/x64-Debug/CMakeFiles/task1_lib.dir/task1_lib.pdb
out/build/x64-Debug/CMakeFiles/task2.dir/embed.manifest
out/build/x64-Debug/CMakeFiles/task2.dir/intermediate.manifest
out/build/x64-Debug/CMakeFiles/task2.dir/manifest.rc
out/build/x64-Debug/CMakeFiles/task2.dir/manifest.res
out/build/x64-Debug/CMakeFiles/task2.dir/src/main2.cpp.obj
out/build/x64-Debug/CMakeFiles/task2.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/task3.dir/src/main3.cpp.obj
out/build/x64-Debug/CMakeFiles/task3.dir/vc140.pdb
out/build/x64-Debug/rules.ninja
out/build/x64-Debug/Testing/Temporary/LastTest.log
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/task2.pdb
out/build/x64-Debug/task2.ilk
out/build/x64-Debug/task2.exe
out/build/x64-Debug/task1_lib.lib
out/build/x64-Debug/task1.pdb
out/build/x64-Debug/task1.ilk
out/build/x64-Debug/task1.exe
CMakeLists.txt
CMakeLists.txt
CppProperties.json
.vs/tp-lab-3/v16/ipch/AutoPCH/ddfbf79cd058e9c5/DATATIME.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/cefe5b7a9438e5d9/TESTS.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/c2a94dfb335657fa/CIRCLE.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/bca2c5f8c14e3d0a/MAIN1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/93e18e3f667ae178/MAIN3.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/882dbe0e2d263174/TASK1.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/2ce242f6e913bf71/MAIN2.ipch
.vs/tp-lab-3/v16/ipch/AutoPCH/772565316b16d817/DATETIME.ipch
CMakeLists.txt
